@import "variables";

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $light-color;
  background: $dark-color;

  .container {
    padding: .5em 1em;
  }

  .card {
    border: 1px solid $light-color;
    border-radius: .15em;

    .title {
      text-align: center;
      padding: .5em 1em;
      border-bottom: 1px solid $light-color;
    }

    .body {
      padding: 1em;
    }
  }

  .col-md-1 {
    width: calc(100% / 12 * 1);
  }

  .col-md-2 {
    width: calc(100% / 12 * 2);
  }

  .col-md-3 {
    width: calc(100% / 12 * 3);
  }

  .col-md-4 {
    width: calc(100% / 12 * 4);
  }

  .col-md-5 {
    width: calc(100% / 12 * 5);
  }

  .col-md-6 {
    width: calc(100% / 12 * 6);
  }

  .col-md-7 {
    width: calc(100% / 12 * 7);
  }

  .col-md-8 {
    width: calc(100% / 12 * 8);
  }

  .col-md-9 {
    width: calc(100% / 12 * 9);
  }

  .col-md-10 {
    width: calc(100% / 12 * 10);
  }

  .col-md-11 {
    width: calc(100% / 12 * 11);
  }

  .col-md-12 {
    width: calc(100% / 12 * 12);
  }

  a {
    text-decoration: none;
    color: $light-color;

    //transition: all 0.5s ease-in-out;

    //&:hover {
    //  color: $neutral-color;
    //}
  }

  .align-center {
    display: flex;
    justify-content: center;
  }

  .align-right {
    display: flex;
    justify-content: flex-end;
    gap: .5em;
  }

  .form-group {
    margin-bottom: .75em;

    .control-group {
      display: flex;
      border-radius: .15em;
      align-items: stretch;
      border: 1px solid $light-color;

      .icon {
        display: flex;
        align-items: center;
        border-left: 1px solid $light-color;
        padding: 0 1em;
        cursor: pointer;
      }

      .form-control {
        width: 100%;
        font-size: 1em;
        padding: 1em .5em;
        background: none;
        border: none;
        color: $light-color;
        border-radius: .15em;
        outline: none;


        &::placeholder {
          color: $light-color;
        }

      }

      .invalid-feedback {
        font-size: .75em;
        margin-top: .25em;
      }
    }

    &.is-invalid {
      color: tomato;

      .control-group {
        border: 1px solid tomato;

        .form-control {
          color: tomato;

          &::placeholder {
            color: tomato;
          }
        }

        .icon {
          border-left: 1px solid tomato;
        }
      }

    }
  }

  .btn {
    cursor: pointer;
    font-size: 1em;
    padding: .25em .5em;
    border-radius: .15em;
    border: none;
    background: none;
    color: $light-color;
    box-shadow: 2px 2px 4px black;
    transition: $transition;
  }

  .circle {
    border-radius: 50%;
    aspect-ratio: 1/1;
  }

  .bg-primary {
    background: $deep-color;

    &:hover {
      background: $deep-color-d;
    }
  }

  .bg-secondary {
    background: $neutral-color;

    &:hover {
      background: $neutral-color-d;
    }
  }

  .bg-warn {
    background: tomato;

    &:hover {
      background: #da4830;
    }
  }

  .mt-1 {
    margin-top: .25em;
  }

  .mt-2 {
    margin-top: .5em;
  }

  .mt-3 {
    margin-top: .75em;
  }

  .mt-4 {
    margin-top: 1em;
  }

  .mt-5 {
    margin-top: 1.25em;
  }

  .responsive {
    max-width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 5px;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 1em;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      border-radius: 1em;
    }
  }

  table.table {
    margin: .75em 0;
    width: 100%;
    border-collapse: collapse;

    td, th {
      border: 1px solid $light-color;
      padding: .5em 1em;
    }
  }
}

@media (max-width: 600px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    width: 100% !important;
  }
}