$light-color: #dbd8e3;
$light-color-d: #cdc1d8;
$neutral-color: #5c5470;
$neutral-color-d: #524866;
$dark-color: #352f44;
$dark-color-d: #2a2137;
$deep-color: #2a2438;
$deep-color-d: #21192e;

$transition: all .5s ease-in-out;